[
    {rabbit, [
        {ssl_listeners, [5671]},
        {ssl_options, [
            {cacertfile, "/home/lbakken/development/lukebakken/rabbitmq-osiris-78/certs/ca_certificate.pem"},
            {certfile,   "/home/lbakken/development/lukebakken/rabbitmq-osiris-78/certs/server_wildcard.local_certificate.pem"},
            {keyfile,    "/home/lbakken/development/lukebakken/rabbitmq-osiris-78/certs/server_wildcard.local_key.pem"},
            {fail_if_no_peer_cert, true},
            {verify, verify_peer},
            {customize_hostname_check, [
                {match_fun, public_key:pkix_verify_hostname_match_fun(https)}
            ]}
        ]},
        {background_gc_enabled, true},
        {background_gc_target_interval, 1000}
    ]}
].
