[
    {server, [
        {cacertfile, "/home/lbakken/development/lukebakken/rabbitmq-osiris-78/certs/ca_certificate.pem"},
        {certfile,   "/home/lbakken/development/lukebakken/rabbitmq-osiris-78/certs/server_wildcard.local_certificate.pem"},
        {keyfile,    "/home/lbakken/development/lukebakken/rabbitmq-osiris-78/certs/server_wildcard.local_key.pem"},
        {secure_renegotiate, true},
        {verify, verify_peer},
        {fail_if_no_peer_cert, true},
        {customize_hostname_check, [
            {match_fun, public_key:pkix_verify_hostname_match_fun(https)}
        ]}
    ]},
    {client, [
        {cacertfile, "/home/lbakken/development/lukebakken/rabbitmq-osiris-78/certs/ca_certificate.pem"},
        {certfile,   "/home/lbakken/development/lukebakken/rabbitmq-osiris-78/certs/client_wildcard.local_certificate.pem"},
        {keyfile,    "/home/lbakken/development/lukebakken/rabbitmq-osiris-78/certs/client_wildcard.local_key.pem"},
        {secure_renegotiate, true},
        {verify, verify_peer},
        {fail_if_no_peer_cert, true},
        {customize_hostname_check, [
            {match_fun, public_key:pkix_verify_hostname_match_fun(https)}
        ]}
    ]}
].
